#bgPane{
  /*-fx-background-image: url("/assets/mapTMP.png");*/
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-background-repeat: stretch;
}
.button{
  -fx-background-color: #FFAD33;
  -fx-background-radius: 0;
  -fx-border-color: #FFAD33;
  -fx-border-radius: 0;
  -fx-border-width: 0;
  -fx-text-fill: #000000;
  -fx-start-margin: 10;
  -fx-end-margin: 10;
  -fx-opacity: 0.8;
  -fx-font: 64 "Serif";
}